---
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
BasedOnStyle: Google
BinPackParameters: OnePerLine
BreakBeforeBraces: Mozilla
BreakStringLiterals: false
IndentExternBlock: NoIndent
IndentWidth: 4
KeepEmptyLines:
  AtStartOfFile: false
QualifierAlignment: Custom
QualifierOrder: [static, inline, constexpr, const, volatile, type, restrict]
