AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BasedOnStyle: LLVM
BreakBeforeBraces: Mozilla
BreakStringLiterals: false
ColumnLimit: 0
IndentWidth: 4
QualifierAlignment: Custom
QualifierOrder: [static, inline, constexpr, const, volatile, type, restrict]
ReflowComments: Never
